
.nav-wrapper {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}
.meal-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.card-content {
  height: 300px;
  overflow: hidden;
}
.card-content:hover {
  overflow: auto;
}
.card-content-filter {
  height: 210px;
  overflow: unset;
}
.recipe {
  display: flex;
  justify-content: space-between;
}
.recipe img {
  max-width: 100%;
  width: 400px;
  max-height: 700px;
  object-fit: cover;
  padding: 20px 20px 20px 0;

}
.recipe-info {
  padding-left: 20px;
}
